.container {
  padding: 10px 40px;
  margin: 0 auto;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}

h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

p {
  font-size: 14px;
  margin-bottom: 5px;
}

.demo-loadmore-list {
  min-height: 350px;
}
